.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #FBF7E3;
    border-radius: 60px;
}
.card img{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.text{
    display: flex;
    flex-wrap: wrap;
    padding: 1em 2em;
    flex-grow: 1;
    justify-content: space-between;
    color: #612406;
}
.text h3{
    text-align: center;
}
.text span{
    font-weight: 100;
    font-size: 0.9em;
}
.text p {
    display: flex;
    align-items: center;
}
.text button{
    background-color: #F3DF85;
    color: #612406;
    border: 0;
    border-radius: 20px;
    padding: 0.5em;
    width: 50%;
    flex-grow: 1;
    margin: 0em 3em;
}